.inntektsendring-list {
  margin: 0;
  padding: 0;
  list-style: none;
  &__item {
    padding: 0.5rem;
    border-bottom: 1px solid #B7B1A9;
    &:first-child {
      border-top: 1px solid #B7B1A9;
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__itemInlineContent {
    display: inline-flex;
  }
}
