.perioderMedFulltFravarListItem {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: #efefef;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 2px 0;

    .dateIntervalPicker {
        margin: 0;
    }
    &__rangeWrapper {
        flex: 2 1 100%;
        label {
            position: absolute;
            left: -2000px;
        }
    }
    &__deleteButtonWrapper {
        padding-left: 1rem;
        text-align: right;
        justify-self: flex-end;
        padding-bottom: 0.2rem;
    }
    &:first-child:last-child {
        padding-bottom: 1.5rem;
    }
    &--firstRow {
        label {
            position: relative;
            left: initial;
        }
        label  {
            margin-bottom: 0.5rem;
        }
        border: none;
    }

    @media (max-width: 736px) {
        .singleInputWrapper:first-child {
            margin-bottom: 1rem;
        }
        &__rangeWrapper {
            label {
                position: relative;
                left: initial;
            }
        }
        display: block;
        &__deleteButtonWrapper {
            text-align: left;
            padding: 1rem 0 0 0;
        }
    }
}
